In [1]:
import pandas as pd
import numpy as np

In [2]:
labels = ['a', 'b', 'c']
mydata = [10, 20, 30]
arr = np.array(mydata)
d = {labels[0] : mydata[0], labels[1] : mydata[1], labels[2] : mydata[2]}

In [3]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [4]:
ser1 = pd.Series([1, 2, 3, 4], ['USA', 'USSR', 'Germany', 'UK']); ser1

USA        1
USSR       2
Germany    3
UK         4
dtype: int64

In [5]:
ser2 = pd.Series([1, 2, 5, 4], ['USA', 'China', 'Germany', 'India']); ser2

USA        1
China      2
Germany    5
India      4
dtype: int64

In [6]:
ser2['India']

4

In [7]:
ser1 + ser2

China      NaN
Germany    8.0
India      NaN
UK         NaN
USA        2.0
USSR       NaN
dtype: float64